name: Build API image and Notify
on:
  workflow_dispatch:
  push:
    branches: [main]
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      DB_NAME: ${{vars.DB_NAME}}
      DB_ROOT_PASSWORD: ${{secrets.DB_ROOT_PASSWORD}}
      DB_PORT: ${{vars.DB_PORT}}
      DB_HOST: ${{vars.DB_HOST}}
      ADMIN_DOCUMENT: ${{vars.ADMIN_DOCUMENT}}
      ADMIN_PASSWORD_HASH: ${{secrets.ADMIN_PASSWORD_HASH}}
      TOKEN_SECRET: ${{secrets.TOKEN_SECRET}}
      LOGGING_LEVEL_APP: ${{vars.LOGGING_LEVEL_APP}}
      ALLOWED_ORIGINS: ${{vars.ALLOWED_ORIGINS}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate image version
        run: echo "IMAGE_VERSION=$(date +%Y%m%d)-$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Set up Java 21
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Start services with docker-compose
        run: docker compose up -d

      - name: Build project with Maven
        run: ./.wraper/mvnw clean package

      - name: Copy JAR to build folder
        run: cp target/*.jar build/

      - name: Stop services
        run: docker compose down

      - name: Build Docker images
        run: |
          docker build \
            -t buhoaullador/aros-api:${{ env.IMAGE_VERSION }} \
            -t buhoaullador/aros-api:latest \
            build/

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker images
        run: |
          docker push buhoaullador/aros-api:${{ env.IMAGE_VERSION }}
          docker push buhoaullador/aros-api:latest

      - name: Send notification on success
        if: success()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.resend.com
          server_port: 587
          username: username
          password: ${{ secrets.RESEND_API_KEY }}
          subject: "Deployment Required: New AROS Client image ${{ env.IMAGE_VERSION }} available"
          to: ${{ secrets.MAIL_RECIPIENT }}
          from: "AROS Deploy <${{ secrets.MAIL_USERNAME }}>"
          body: |
            A new version of the aros-api has been successfully built and pushed to Docker Hub.

            The new Docker image 'buhoaullador/aros-api:${{ env.IMAGE_VERSION }}' is ready for manual deployment.
            The 'latest' tag has also been updated for convenience.

            Triggered by commit: ${{ github.sha }}
            Commit message: ${{ github.event.head_commit.message }}
            See commit details: ${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}

            Please connect to the infrastructure environment and run the deployment script using the new version tag.
