name: Build API image
on: 
  workflow_dispatch:
  push:
    branches: [ dev ]
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      DB_NAME: ${{vars.DB_NAME}}
      DB_ROOT_PASSWORD: ${{secrets.DB_ROOT_PASSWORD}}
      DB_PORT: ${{vars.DB_PORT}}
      DB_HOST: ${{vars.DB_HOST}}
      ADMIN_DOCUMENT: ${{vars.ADMIN_DOCUMENT}}
      ADMIN_PASSWORD_HASH: ${{secrets.ADMIN_PASSWORD_HASH}}
      TOKEN_SECRET: ${{secrets.TOKEN_SECRET}}
      LOGGING_LEVEL_APP: ${{vars.LOGGING_LEVEL_APP}}
      ALLOWED_ORIGINS: ${{vars.ALLOWED_ORIGINS}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Java 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Start services with docker-compose
        run: docker compose up -d

      - name: Build project with Maven
        run: ./.wraper/mvnw clean package

      - name: Copy JAR to build folder
        run: cp target/*.jar build/

      - name: Stop services
        run: docker compose down

      - name: Build Docker image with docker-compose
        run: docker build -t buhoaullador/aros-api:latest build/

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: docker push buhoaullador/aros-api:latest
